.FavoriteMovies {
  &__item {
    margin-bottom: desktop(30px);
  }
  &__loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}
