.FavoriteMovies {
    &__item {
        margin: tablet(30px) 0;
    }
    &__loader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    &__alert {
        margin: tablet(20px) 0;
    }
}
