.PopularMovies {
    &__item {
        margin-bottom: desktopUltra(30px);
    }

    &__alert {
        margin: desktopUltra(20px) desktopUltra(35px) desktopUltra(20px) 0;
    }

    &__loader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    &__titleMod {
        @include text($text-gray-dark, 'Roboto-Regular', desktopUltra(24px), normal, 1.5);
        margin: 10px 0 30px;
    }

    &__hide {
        display: none;
    }
}
