$text-gray-dark: #3a3b3f;
$blue: #1d79be;
$icons-gray-light: #a4a4a4;
$white: white;
$dark-sky-blue: #5ca9d5;
$pastel-red: #ea5f51;
$grey: #d6d6d6;
$font-color: #4a4a4a;
$font-color2: #6f6f6f;
$blue: #1d79be;
$grey-font: #9ea0a5;
$dark-blue: #0b2943;
$grey-2: #a9a9a9;
$font-color-3: #6d7278;
$action-exitoso: #4caf50;
$main-blue: #3f51b5;