.BaseInputPassword {
  width: 100%;

  p {
    @include text($pastel-red, "Roboto-Regular", mobile(12px), 1.5, normal);
    color: $pastel-red !important;
    font-size: mobile(12px) !important;
  }

  > div {
    > input {
      @include text(
        $text-gray-dark,
        "Roboto-Regular",
        mobile(14px),
        normal,
        normal
      );
      font-size: mobile(14px) !important;
      padding: 5px 0 5px !important;
    }
  }

  > div:hover:before {
    border-bottom: 1px solid $dark-sky-blue !important;
  }

  > div:hover:after {
    border-bottom: 1px solid $dark-sky-blue !important;
  }

  > div:after,
  > div:before {
    border-bottom: 1px solid $grey !important;
  }

  label {
    @include text(
      $icons-gray-light,
      "Roboto-Regular",
      mobile(14px),
      normal,
      normal
    );
    color: $icons-gray-light !important;
  }

  svg {
    color: $icons-gray-light;
    font-size: mobile(22px);
  }
}
