.NavBar {
  background-color: #f9fafb;
  min-height: 100vh;
  width: desktopUltra(243px);
  border: solid 1px #d7d1d1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0;

  &__profession {
    padding-top: desktopUltra(2px);
    @include text(
      $grey-font,
      "Roboto-Regular",
      desktopUltra(12px),
      1.33,
      normal
    );
  }

  &__item {
    border-right: 1px solid #f2f2f2;
    cursor: pointer;
    padding: desktopUltra(17px) 0 desktopUltra(17px) desktopUltra(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
    div {
      svg {
        color: $icons-gray-light;
      }
    }
  }

  &__itemTitle {
    @include text(
      $icons-gray-light,
      "Roboto-Medium",
      desktopUltra(14px),
      1.33,
      normal
    );
  }

  &__active {
    div {
      color: $text-gray-dark !important;
      svg {
        color: $text-gray-dark !important;
      }
    }
  }
}
