.NavBar {
  background-color: #f9fafb;
  height: 100vh;
  width: auto;
  border: solid 1px #d7d1d1;
  overflow-x: hidden;
  overflow-y: initial;
  padding-bottom: mobile(50px);

  &__userIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    padding: mobile(100px) 0 mobile(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #d7d1d1;
  }

  &__title {
    padding-top: mobile(27px);
    @include text($font-color, "Roboto-Medium", mobile(16px), 1.25, normal);
  }

  &__profession {
    padding-top: mobile(2px);
    @include text($grey-font, "Roboto-Regular", mobile(12px), 1.33, normal);
  }

  &__item {
    border-right: 1px solid #f2f2f2;
    cursor: pointer;
    padding: mobile(17px) 0 mobile(17px) mobile(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
    div {
      svg {
        color: $icons-gray-light;
      }
    }
  }

  &__itemTitle {
    @include text(
      $icons-gray-light,
      "Roboto-Medium",
      mobile(14px),
      1.33,
      normal
    );
  }

  &__active {
    div {
      color: $text-gray-dark !important;
      svg {
        color: $text-gray-dark !important;
      }
    }
  }
}
