.Movie {
  &__sideBar {
    width: 243px;
    position: fixed;
    top: 64px;
    left: 0;
    padding-top: 0;
    z-index: 20;
    height: calc(100vh - 50px);
  }

  &__feed {
    width: 100%;
    margin-top: desktopUltra(65px);
    padding: 0;
  }

  &__body {
    display: flex;
    flex-direction: row;
    margin-left: 245px;
    margin-top: 0;
  }

  &__notZIndex {
    z-index: -1 !important;
  }

  &__hide {
    display: none;
  }

  &__background {
    position: relative;
    height: calc(100vh - 65px);
    overflow-y: hidden;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 7, 95, 0.7);
    filter: blur(175px);
  }

  &__description {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &Image {
      width: 400px;
      height: 600px;
    }

    &Text {
      color: white;
    }
  }
}
