.Searcher {
    &__container {
        padding: desktopUltra(20px) 0;
        div {
            width: desktopUltra(500px);
        }
    }

    &__icon {
        svg {
            color: $icons-gray-light;
        }
        padding-right: desktopUltra(10px);
    }

    &__inputRoot {
        width: 100%;
        background-color: $white;
        border-radius: 3px;

        input {
            @include text($font-color, 'Roboto-Medium', desktopUltra(16px), normal, normal);
            &::placeholder {
                @include text($icons-gray-light, 'Roboto-Bold', desktopUltra(17px), 1.47, normal);
            }
        }
    }
}
