.NowPlaying {
  &__item {
    margin: mobile(20px) mobile(17px);
  }

  &__alert {
    margin: mobile(20px);
  }

  &__loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}
