.ItemMovie {
  &__container {
    width: 100%;
    max-width: 100%;
    padding: tablet(30px);
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 -2px 5px 0 rgba(38, 38, 38, 0.2);
    border: solid 1px #c5c5c5;
  }

  &__titleNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 30px;
  }

  &__like {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__img {
    img {
      width: tablet(150px);
      height: auto;
      border-radius: 3%;
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    @include text($font-color, "Roboto-Bold", tablet(25px), normal, normal);
  }

  &__subtitle {
    @include text(
      $font-color2,
      "Relawey-Regular",
      tablet(14px),
      normal,
      normal
    );
  }

  &__headerDetail {
    div {
      padding-bottom: 8px;
    }
  }

  &__overview {
    padding-top: 10px;
    text-align: justify;
    @include text($font-color, "Montserrat-Regular", tablet(16px), normal, 1.2);
  }

  &__hide {
    display: none;
  }
}
